:host:nth-child(2n + 1) {
  display: block;
  background-color: #eee;
}

li {
  padding: 1em;
}

.actions {
  display: flex;
  justify-content: space-between;
}

label {
  margin-left: 0.5em;
}

button {
  margin-left: 1em;
}

.tags {
  margin-top: 0.5em;
}

.tag {
  background-color: #2196f3;
  color: white;
  margin-right: 0.5em;
  padding: 0 0.5em;
}
